.cache
.env
.eslintcache
.idea
.next
.node_repl_history
.npm
.nuxt
.serverless
.yarn-integrity
*.lerna_backup
*.log
*.tgz
build/Release
coverage
dist
jspm_packages/
logs
node_modules/
npm-debug.log*
typings/
yarn-debug.log*
yarn-error.log*